@import "reset";
@import "variables/global";
@import "themes/light";

@font-face {
    font-family: Furore;
    src: url("./fonts/Furore.otf");
    src:
        url("./fonts/Furore.ttf") format("truetype"),
        url("./fonts/Furore.otf");
    font-style: normal;
    font-weight: 400;
}

.body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.all-content-page {
    display: flex;
    overflow: hidden;
    height: calc(100vh - var(--navbar-height));
}

.content-page {
    display: flex;
    overflow: auto;
    width: 100%;
    padding: 0 2rem;
    height: calc(100vh - var(--navbar-height));

    @media screen and (max-width: 700px) {
        padding: 0 1rem;
    }
}

*::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-bg-color);    /* цвет плашки */
    border-radius: 3px;       /* закругления плашки */
    border: 1px solid var(--bg-color);  /* padding вокруг плашки */
}
