.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-height: 90%;
    overflow: auto;
    padding: 20px;
    border-radius: 12px;
    background: var(--inverted-bg-color);
    transition: 0.2s transform, opacity 0.2s;
    transform: scale(0.5);
    min-width: 300px;
    width: max-content;
    max-width: 90%;
    z-index: var(--modal-z-index);
    min-height: max-content;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.7);
        opacity: 0;
    }
}
