.app_light_theme {
    --bg-color: #0d0324;
    --inverted-bg-color: #241e6d;
    --primary-color: #fefefc;
    --secondary-color: #546bf2;
    --secondary-color-active: #344cd3;
    --grey100: #cfcdd3;
    --grey200: #898a9e;
    --grey300: #3f3f3f;
    --green: #30b731;
    --red: #dd5471;
    --red-light: #dd547299;
    --red-dark: #c93838;
    --dark: #d0cdff30;
    --orange: #f37032;
    --orange-light: #ff8851;
    --purple-color: #bbc4fa80;
    --table-bg-color: #150c3c;
    --table-light: #2e2d88;

    // skeleton
    --skeleton-shadow: #2b2be8;
    --skeleton-color: #342b99;
}
