.Navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    align-items: center;
    padding: 0 2rem;

    @media screen and (max-width: 700px) {
        padding: 0 1rem;
    }

    @media (max-width: 370px) {
        padding: 0 0.5rem;
    }
}

.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.Notification {
    margin-left: 1rem;
}

.curses {
    margin-left: 3rem;

    @media (max-width: 650px) {
        display: none;
    }
}

.rightLine,
.rightLineBalance {
    padding-right: 16px;
    border-right: 2px solid var(--primary-color);

    @media (max-width: 1000px) {
        border-right: none;
        margin-left: 1rem;
    }
}

.rightLineBalance {
    @media (max-width: 1150px) {
        padding-right: 0;
        border-right: none;
    }
}

.blockLinks {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    @media (max-width: 470px) {
        flex-direction: column;
        gap: 0;
        align-items: start;
    }

    @media (max-width: 300px) {
        display: none;
    }
}

.logo {
    height: 25px;
    width: 25px;
}

.logo.browser {
    @media (max-width: 370px) {
        display: none;
    }
}

.logo.little {
    @media (max-width: 400px) {
        display: none;
    }
}

.appName {
    @media (max-width: 750px) {
        display: none;
    }
}

.appNameLittle {
    @media (max-width: 550px) {
        display: none;
    }
}

.createLink {
    white-space: nowrap;
}

.displayNone {
    @media (max-width: 350px) {
        display: none;
    }
}

.displayHide {
    @media (max-width: 1150px) {
        display: none;
    }
}
