.body {
    font: var(--font-m);
    color: var(--primary-color);
}

.appDigitalTwin {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.digitalTwin-page {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}
